body {
    background-color: #e6aa4b;
    width: 90%;
    margin-top: 60px;
}

#cointainer, #berekenTool {
    text-align: center;
}

#divOne {
    float: left;
    width:45%;
    height: 450px;
    background-image: url(/images/hpg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}

#divTwo {
    float: left;
    width:45%;
    height: 450px;
    background-color: rgb(221, 219, 219);
    margin: auto;
}

.formControl {
    border: 1px solid #d2d8dd;
    border-radius: 3px;
    font-size: 0.875rem;
    height: calc(2.55rem + 2px);
    width: 50%;
    text-align: center;
    padding: .375rem .75rem;
    margin-bottom: 15px ;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button {
    background-color: #e6aa4b;
    color: white;
    font-size: 0.875rem;
    border: 1px solid #e6aa4b;
    height: calc(2.55rem + 2px);
    width: 30%;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase; 
}

button:hover{
    cursor: pointer;
   }

img {
    padding: 20px;
}

@media screen and (max-width: 900px) {
    body {
        width: 100%;
    }
    
    img {
        width: 70%;
    }
    button {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    #divOne {
        width: 100%;
        background-image: url(http://127.0.0.1:5500/images/hpg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
}